<% include partials/header %>

<!-- <div class="landing container">
  <h1 class="cover-heading">Yelp-Camp</h1>
  <p class="lead">Welcome to the Yelp-Camp Landing Page</p>
  <a href="/campgrounds" class="btn btn-lg btn-primary">View All Campgrounds</a>
</div> -->

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to Yelp-Camp</h1>
      <p>View our hand picked campgrounds all over the world</p>
      <a href="/campgrounds" class="btn btn-primary">View All Campgrounds</a>
    </div>
  </header>
</div>

<% include partials/footer %>