<% include partials/header %>

<div class="landing container">
  <h1 class="cover-heading">Yelp-Camp</h1>
  <p class="lead">Welcome to the Yelp-Camp Landing Page</p>
  <a href="/campgrounds" class="btn btn-lg btn-primary">View All Campgrounds</a>
</div>

<% include partials/footer %>