<% include partials/header %>

<div class="container">
  <header id="landing" class="jumbotron">
    <div class="container">
      <h1>Welcome to Yelp-Camp</h1>
      <p>View our hand picked campgrounds all over the world</p>
      <p>
        <a class="btn btn-primary btn-large" href="/campgrounds">View All Campgrounds</a>
      </p>
    </div>
  </header>
</div>

<% include partials/footer %>